In [3]:
import pandas as pd

In [4]:
#Importing the dataset 
df = pd.read_csv("Data.csv")

In [5]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [47]:
X = df.iloc[:,:-1].values
y = df.iloc[:,3].values

In [48]:
#filling na values with mean
from sklearn.preprocessing import  Imputer 
imputer = Imputer(missing_values = "NaN" , strategy = "mean" , axis = 0)
imputer = imputer.fit(X[:,1:3 ])
X[:,1:3]= imputer.transform(X[:,1:3])

In [49]:
X[:,1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, 63777.77777777778],
       [35.0, 58000.0],
       [38.77777777777778, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

In [63]:
#dealing with categorical data
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [64]:
X

array([[0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 4.40000000e+01, 7.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 2.70000000e+01, 4.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 3.00000000e+01, 5.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 3.80000000e+01, 6.10000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 4.00000000e+01, 6.37777778e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.50000000e+01, 5.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 3.87777778e+01, 5.20000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 4.80000000e+01, 7.90000000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 5.00000000e+01, 8.30000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 3.70000000e+01, 6.70000000e+04]])

In [65]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1], dtype=int64)

In [59]:
#splitting the data into train and test
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=101)

In [60]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [66]:
X_train

array([[ 0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 ,
        -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,
         0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,  2.44948974,
        -0.8660254 ,  0.40005556,  0.2668251 ],
       [-1.15470054,  1.15470054, -1.15470054,  1.15470054, -1.15470054,
         1.15470054, -1.15470054,  1.15470054, -1.15470054,  1.15470054,
        -1.15470054,  1.15470054, -1.15470054,  1.15470054, -0.40824829,
        -0.8660254 , -0.11782458,  0.60748859],
       [ 0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 ,
        -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,
         0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 , -0.40824829,
         1.15470054,  0.05480213, -0.02685032],
       [-1.15470054,  1.15470054, -1.15470054,  1.15470054, -1.15470054,
         1.15470054, -1.15470054,  1.15470054, -1.15470054,  1.15470054,
        -1.15470054,  1.15470054, -1.15470054,  1.15470054, -0.40824829,
        -0.8660254 , -0.46307801, -0.34401978],
       [-1.15470054,  1.15470054, -1.15470054,  1.15470054, -1.15470054,
         1.15470054, -1.15470054,  1.15470054, -1.15470054,  1.15470054,
        -1.15470054,  1.15470054, -1.15470054,  1.15470054, -0.40824829,
        -0.8660254 ,  1.78106926,  1.87616642],
       [ 0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 ,
        -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,
         0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 , -0.40824829,
         1.15470054,  0.18906735, -0.9783587 ],
       [ 0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 ,
        -0.8660254 ,  0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 ,
         0.8660254 , -0.8660254 ,  0.8660254 , -0.8660254 , -0.40824829,
         1.15470054, -1.84409171, -1.40125131]])

In [67]:
X_tset

NameError: name 'X_tset' is not defined